<!DOCTYPE html>
<html>
    <head>
        <title>My News Website</title>
        <link rel="stylesheet" href="/css/app.css" />
        <link rel="stylesheet" href="/css/nhome.css" />
    </head>
    <body>
        <div class="container-nav">
            <!-- เมนูบาร์ -->
            <ul class="menu" id="navbar">
                <li><a href="/views/nhome.html">หน้าแรก</a></li>
                <li><a href="/views/ncal.html">ทำนายเลขตามวันเกิด</a></li>
                <li><a href="/views/nrunback.html">ความน่าจะเป็นของเลข</a></li>
                <li><a href="/views/app.html">เลขฮิตในช่วงนี้</a></li>
            </ul>
    
            <div class="container-content">
                <!-- เนื้อหา -->
                <div class="content">
                    <h1>ยินดีต้อนรับเข้าสู่ เลขฮิตในช่วงนี้</h1>
                        
                    <form id="urlForm">
                        <label for="urlInput">กรุณาใส่ URL หรือ Link:</label>
                        <input type="text" id="urlInput" placeholder="ใส่ URL ที่นี่"/>
                        <label for="dropdown">เลือกเว็บแนะนำ:</label>
                        <select id="dropdown" name="option">
                            <option value="">-กรุณาเลือกเว็บแนะนำที่นี่-</option>
                            <option value="https://www.thairath.co.th/lottery/news/2717488">thairath</option>
                            <option value="https://www.sanook.com/news/8960514/">sanook</option>
                            <option value="https://www.nationtv.tv/lottory/378927347">nationm</option>
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                    <div id="result"></div>
                </div>
            </div>
        </div>
    

        <script src="/js/app.js"></script>
        <script src="/js/nhomepagescript.js"></script>


    </body>
    <footer >
        <div class="footer-container">
                <p>ติดตามเรา <a href="#"><i class="">GITHUB</i></a> </p>  
                <p>&copy; 2023 สงวนลิขสิทธิ์</p>        
        </div>
    </footer>
</html>
