<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- เรียกใช้ css -->
        <link rel="stylesheet" href="/css/ncal.css" />
        <link rel="stylesheet" href="/css/nhome.css" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ตามความเชื่อ</title>
    </head>

    <body>
        <!-- เนื้อหา -->
        <div class="container-nav">
            <!-- เมนูบาร์ -->
            <ul class="menu" id="navbar">
                <li><a href="/views/nhome.html">หน้าแรก</a></li>
                <li><a href="/views/ncal.html">ทำนายเลขตามวันเกิด</a></li>
                <li><a href="/views/nrunback.html">ความน่าจะเป็นของเลข</a></li>
                <li><a href="/views/app.html">เลขฮิตในช่วงนี้</a></li>
            </ul>

            <div class="container-content">
                <!-- เนื้อหา -->
                <div class="content">
                    <h1>วันเดือนปีเกิด</h1>
                    <label for="birthdate">วันเดือนปีเกิด:</label>
                    <input type="date" id="birthdate">
                    <button onclick="calculateAge()">คำนวณอายุ</button>
                    <p id="result"></p>
                </div>
            </div>

        </div>


        <!-- เรียกใช้ js -->
        <!-- homepage เรียกมาเพื่อทำการเรียกใช้ script สำหรับ Menubar -->
        <script src="/js/nhomepagescript.js"></script>
        <script src="/js/ncalculatescript.js"></script>

    </body>
    <footer >
        <div class="footer-container">
                <p>ติดตามเรา <a href="#"><i class="">GITHUB</i></a> </p>  
                <p>&copy; 2023 สงวนลิขสิทธิ์</p>        
        </div>
    </footer>
</html>