<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- เรียกใช้ css -->
        <link rel="icon"type="image/x-icon" href="/public/picture/icon.png">
        <link rel="stylesheet" href="/css/nhome.css" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>หน้าแรก</title>
    </head>

    <body>
        <!-- เนื้อหา -->
        <div class="container-nav">
            <!-- เมนูบาร์ -->
            <ul class="menu" id="navbar">
                <li><a href="/views/nhome.html">หน้าแรก</a></li>
                <li><a href="/views/ncal.html">ทำนายเลขตามวันเกิด</a></li>
                <li><a href="/views/nrunback.html">ความน่าจะเป็นของเลข</a></li>
                <li><a href="/views/app.html">เลขฮิตในช่วงนี้</a></li>
            </ul>

            <div class="container-content">
                <!-- เนื้อหา -->
                <div class="content">
                    <h1>ยินดีต้อนรับสู่เว็บไซต์</h1>
                    <p>ยินดีต้อนรับสู่เว็บไซต์</p>
                        
                    
                </div>
            </div>
        </div>


        <!-- เรียกใช้ js -->
        <!-- homepage เรียกมาเพื่อทำการเรียกใช้ script สำหรับ Menubar -->
        <script src="/js/nhomepagescript.js"></script>
    </body>
    <footer >
        <div class="footer-container">
                <p>ติดตามเรา <a href="#"><i class="">GITHUB</i></a> </p>  
                <p>&copy; 2023 สงวนลิขสิทธิ์</p>        
        </div>
    </footer>

</html>