<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- เรียกใช้ css -->
        <link rel="icon"type="image/x-icon" href="/public/picture/icon.png">
        <link rel="stylesheet" href="/css/nrunback.css" />
        <link rel="stylesheet" href="/css/nhome.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>ความน่าจะเป็นของเลข</title>
    </head>

    <body>
        <!-- เนื้อหา -->
        <div class="container-nav">
            <!-- เมนูบาร์ -->
            <ul class="menu" id="navbar">
                <li><a href="/views/nhome.html">หน้าแรก</a></li>
                <li><a href="/views/ncal.html">ทำนายเลขตามวันเกิด</a></li>
                <li><a href="/views/nrunback.html">ความน่าจะเป็นของเลข</a></li>
                <li><a href="/views/app.html">เลขฮิตในช่วงนี้</a></li>
            </ul>

            <div class="container-content">
                <!-- เนื้อหา -->
                <div class="content">
                    <h1>ยินดีต้อนรับสู่ ความน่าจะเป็นของเลข</h1>
                    <p>ยินดีต้อนรับสู่ ความน่าจะเป็นของเลข</p>
                </div>
                <div class="monthtable">
                    <!-- <img src="/asset/thakorn.png" width="auto" height="auto"  class="center"> -->
                    <select id="month">
                        <option value="all">ทุกเดือน</option>
                        <option value="January">มกราคม</option>
                        <option value="February">กุมภาพันธ์</option>
                        <option value="March">มีนาคม</option>
                        <option value="April">เมษายน</option>
                        <option value="May">พฤษภาคม</option>
                        <option value="June">มิถุนายน</option>
                        <option value="July">กรกฎาคม</option>
                        <option value="August">สิงหาคม</option>
                        <option value="September">กันยายน</option>
                        <option value="October">ตุลาคม</option>
                        <option value="November">พฤศจิกายน</option>
                        <option value="December">ธันวาคม</option>
                    </select>
                    <select id="year">
                        <option value="all">ทุกปี</option>
                        <option value="2566">2566</option>
                        <option value="2565">2665</option>
                        <option value="2564">2564</option>
                        <option value="2563">2563</option>
                        <option value="2562">2562</option>
                        <option value="2561">2561</option>
                        <option value="2560">2560</option>
                        <option value="2559">2559</option>
                        <option value="2558">2558</option>
                        <option value="2557">2557</option>
                    </select>
                    <button id="submit">Search</button>
                    <br />
                    <div id="output"></div>
                </div>
            </div>
        </div>

        <!-- เรียกใช้ js -->
        <!-- homepage เรียกมาเพื่อทำการเรียกใช้ script สำหรับ Menubar -->
        <script src="/js/nhomepagescript.js"></script>
         <script src="/js/nrunback.js"></script>
    </body>
    <footer>
        <div class="footer-container">
            <p>
                ติดตามเรา <a href="#"><i class="">GITHUB</i></a>
            </p>
            <p>&copy; 2023 สงวนลิขสิทธิ์</p>
        </div>
    </footer>
</html>
